html {
  /* background: center center / cover no-repeat url(../public/images/spruce-forest.svg), var(--background-color); */
  background: center center / cover no-repeat var(--background-color);
}

.app {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.app-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  grid-template-rows: 128px 1fr 34px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.swatch {
  width: 53px;
  height: 53px;
  border-radius: 4px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
