.tap-root {
  align-items: center;
  display: grid;
  gap: 3vmin;
  grid-template-columns: 4vmin auto min-content min-content;
  grid-template-rows: 1fr;
  height: 100%;
  justify-items: start;
}

.tap-root-empty .tap-card {
  color: #999;
}

.tap-root-dragging {
  opacity: 0;
}

.tap-number {
  font-family: 'OldStyle 1';
  font-size: 8vmin;
}

.tap-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0;
}

.tap-name {
  font-family: 'ADAM.CG PRO';
  font-size: 4vmin;
  font-weight: normal;
  margin: 0;
}

.tap-root-empty .tap-name {
  color: #999;
}

.tap-description {
  font-family: 'OldStyle Small Caps';
  font-size: 3vmin;
  line-height: 2vmin;
  margin: 0;
  padding-bottom: 1vmin;
  text-transform: lowercase;
}

.tap-stats {
  font-family: 'OldStyle 1';
  font-size: 2.5vmin;
  white-space: nowrap;
}

.tap-icon {
  text-align: center;
}

.tap-root-empty .tap-icon {
  color: #999;
}

.tap-icon .MuiSvgIcon-root {
  font-size: 8vmin;
}
